.keyboard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  align-items: center;
}

.keyboard__row {
  display: flex;
  gap: 10px;
}

.keyboard__key:hover {
  background-position: 0% 0%;
  cursor: pointer;
}

